# LinkSpeed assignment submission for James Mannix via Tyler.
# These are the Python requirements for the Jupyter Notebook server container and our traffix.ipynb notebook
# running our LinkSpeed assignment client code.


requests
pandas
geopandas
shapely

# MapBox GL - Integration with data visualization provider (SAAS/PAAS SDK/API)
mapboxgl

