# /scripts/ requirements.txt

# This file is not the main one used for installs. This file is only for tracking what Python requirements are
# needed by Python scripts in this directory only.
# Specifically, for the script:
#   analyze_parquet_files.py

pandas
pyarrow

